:root{

    --blue-element-color :  #2857a4;

}


body {
    margin: 0;
    /* margin: 0px; */
}






/* Body Header */

#body-header {
    font-family: sans-serif;
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

@media screen and  (max-width :600px){
    #body-header{
        height:50vh;
    }
}


/* Horizontal Lists */

.horizontal-list {
    display:block;
    padding-top: 20px;
    list-style: none;
    padding-left: 0px;
}

.horizontal-list ul{
    padding-left: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}
/*
.horizontal-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
} */

.text-center {
    text-align: center;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}

.nav-bar li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

/***** NAVvigaton button ****/



.menu-btn {
    display: none;
  }
  
  @media (max-width: 600px) {

    .horizontal-list {
        display:block;
        padding-top: 20px;
        list-style: none;
        padding-left: 0px;
        /* height: 0px; */
        /* overflow: hidden; */
    }
    


    #menu{
        
        
        position: relative;
        transition: 1s ease-in-out;
        height: 0px;
        overflow: hidden;
        z-index: 2;
    }



    #menu  li{

        font-weight: bold;
        display:block;
        padding: 4px;
        margin: 2px 0px 2px 0px;
        text-align: right;
        
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        /* float: right; */
        padding: 28px 20px;
        position: relative;
        user-select: none;
      }
    .menu-icon .navicon{
        background: white;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
       .menu-icon .navicon:before {
        top: 5px;
      }
      
       .menu-icon .navicon:after {
        top: -5px;
      }
    
      .menu-btn {
        display: none;
      }

      .menu-btn:checked ~ #menu {
        height: 300px;
      }
      
      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      
       .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      
      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
  }

/** Sections **/
section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height : auto;
    padding-bottom: 30px;
    width: 100%;

}

section:nth-child(2n){
    background-color: rgba(249,249,249);
}



section:nth-child(2n+1){
    background-color: white;
}



/* My Name */

#my-name{

    display: block;
    color:white;
    font-size: 3rem;
 
    font-weight: 700;
    margin-top : 10%;
    margin-bottom: 0px;
}

/* Social Icons */

.social-icons{
    margin-top:-65px;
    padding-left: 0px;
}

.social-icons li a i{
    padding:10px;
    border-radius: 50%;
    width :1rem;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a i:active{
    box-shadow: 0px 0px 10px 4px rgba(132, 201, 238, 0.3);
}




/* .social-icons li{
    margin-left : 10px;
    margin-right: 10px;
} 
*/


/* ABOUT SECTION V1 */

/*older code , here i set the property of the whole image ka div as static and then moved the images using relative and top donw etc
what happend ue to that is ki gpa chut gya bich mai , to ham kya karenge is ki psition of the div of img ko relative set karke , image ke container ko move 
karwdenge
/* #about{
    background-color: white;

}

#profile-photo{
    position: static;
    display: block;
    

}

#profile-photo img{
    position: relative ;
    bottom: 80px;
    width :15.5vw;
    margin-top:-30px ;
    border-radius: 50%;
    border: solid 2px white; 
    box-shadow : 0px 0px 8px 4px lightgrey;
    /* filter: drop-shadow(0 0 0.75rem crimson);*/


/* we can allso use marin : auto  to center the imaage
#about{
    height: auto;
    width: 100%;
    display: block;
    border-top: solid white 4px;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
    font-weight: 600;
    color:  rgb(162, 162, 225);
}
#about-description{

    
    margin :0px 20vw 0px;
    margin-top: -50px;
}


/* #profile-photo img{
    width
} */

/* ABOUT SECTION V2*/
#about{
    
    position: relative;
    height: auto;
    width: 100%;
    
}

#profile-photo{
    margin: auto; /* leaves equl space in left and right */
    position: static;
    display: block;
    margin-top: -17vh;
    height: 12rem;
    width: 12rem;

}

#profile-photo img{

    height: 100%;/* relatie to the parent*/
    width :100%;
    border-radius: 50%;
    border: solid 2px white; 
    box-shadow : 0px 0px 8px 4px lightgrey;
    /* filter: drop-shadow(0 0 0.75rem crimson);*/
} 

#about-description{
    margin: 0px 10vw 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    line-height: 2rem;

}


/** common color class**/

.highlights{
    font-weight: 600;
    color: var(--blue-element-color);
}

/** common margin class**/
.mb75px {
    margin-bottom: 75px;
}

/** common heading class**/
.section-heading{
    width: auto;
    display: flex;
    justify-items: center;
    /* padding : 20px 10px 10px; */
    font-weight: 500;
    margin-top: 40px;
    
   
}

.section-heading span{
    font-size: 40px;
    color:#2857a4 ;
    padding-top: 10px;
    font-family: sans-serif;
    margin: 8px;
}

/****** SKILLS ******/

.skills_display{

    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  

}

.skills_progress{

    background-color: lightgray;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    width: 12rem;
    height: 2rem;
    margin: 20px 0px 30px;

}

.skills_progress>div{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    display: flex;
    align-items: center;
    width: 0;
  /* transition: ease-in-out 2s; */
    box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5);
   
}

.skill-name{
    
    display: block;
    
    color: white;
    font-family:sans-serif;
    font-size: 1rem;
    margin-left: 0.75rem ;

}

.mb-blue{
    background-color:#2857a4
}

.mb-thistle{
    background-color : #8008965e;
}

.mb-orange{
    background-color:#ef622e;
}

.mb-green{
    background-color:#8db163;
}

.eighty-five-percent{
    /* width:85%; */
    width: 0;
    height: inherit;
}

.fifty-five-percent{

    height: inherit;
}
.sixty-five-percent{
    
    height: inherit;
}

.thirty-five-percent{

    height: inherit;
}

.seventy-five-percent{

    height: inherit;
}

@media screen and (max-width:600px){
    .skills_display{

        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      
    
    }
}



/** PORTFOLIO **/

.portfolio-display{

    width:85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.portfolio-items{
    width: 20rem ;
    background-color: white;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-bottom: 5rem;
}

.portfolio-items a{
    display: block;
    text-decoration: none;
}

.portfolio-items-content{
    height: inherit;
    width: inherit;
    padding: 3rem 2rem 2rem 2rem;
    opacity: 0;
    font-size: 1.5rem;
    color:white;
    font-weight: 600px;
    font-family:Arial, Helvetica, sans-serif;
    transition: opacity 0.8s , box-shadow 0.7s , background-color 0.8s;
}

.portfolio-items-content:hover{
    background-color: rgb(128, 128, 128 ,0.4);
    opacity: 1;
    
    box-shadow: 0px 0px 3px 3px rgb(211, 232, 243);
}

.portfolio-items-content>span{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.portfolio-items-content a{
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-weight: inherit;
}
#project1{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#project2{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#project3{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#project4{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#project5{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#project6{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/********** CONTACT SECTION *********/

/* BACKGROUND GRADIENT*/

.background-gradient{
    background-image: linear-gradient(60deg, #2857a4 , #403066 80%);
}

.fc-white span{
    color:white;
}

/** left contact section  **/


.contact-display{
    width:80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.contact-display>div{
    width: 45%;

}


#social-icons-contact{
    margin-top: 20px;
}

.contact-input{
    margin-bottom: 1.8rem;
}

.contact-input input{
    width: 100%;
    height: 2rem;
    border :0px;
    border-bottom: solid 2px white;
    padding: 5px;
    background: inherit;
    font-size: 1rem;
}

.contact-input input:hover{
    width: 100%;
    height: 2rem;
    border :0px;
    border-bottom: solid 2px white;
  
    background: inherit;
}

.contact-input input:active{
    width: 100%;
    height: 2rem;
    border :0px;
    border-bottom: solid 2px white;
   
    background: inherit;
}

.contact-input textarea{
    width: 100%;
    height: 3rem;
    border :0px;
    border-bottom: solid 2px white;
    padding: 5px;
    background: inherit;
    font-size: 1.4rem;
}

.cotact-submit-button{
    display: flex;
    justify-content:  center;
    margin: auto;
}

.cotact-submit-button button{
    border-radius: 0.3rem;
    display: block;
    background :inherit;
    border: 2.5px white solid;
    /* letter-spacing: 2px; */
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    color: white;

}

.cotact-submit-button button:hover{

    box-shadow: 0px 0px 2px 1px white ;
    
  }

.cotact-submit-button button:active{
  background-color: white;
  color: #403066;
  border: solid 2.5px white;
  border:  0.3rem;
}



.cotact-submit-button button[type="submit"]:active{
    border: solid 2.5px white;
}

/** right contact section **/

.contact-right-header{

    font-size: 1.2rem;
    font-family: sans-serif;
    margin-bottom: 1.2rem;
    color:white;


}
.contact-right-text{
    color: white;
    display: block;
    word-wrap: break;
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.contact-list{
    list-style: none;
    color: white;
    padding-left: 0px;
}

.contact-list ul{
    margin-left: 0px;
    padding-left: 0px;
}
.contact-list ul li{
    margin-top: 1.2rem ;
    padding-left: 0px;
}
.contact-list li{
    display: block;
    margin-top: 1.2rem;
}

.contact-list-icon{
    display: inline-block;
    margin-right: 1rem;
}

/*****  Expereince  *****/

    /* timeline */

.timeline {
    position: relative;
    width: 75%;
    /* border : solid 2px black; */
   
}

.timeline-box{
    position: relative;
    width:40%;
    /* border: black 2px solid; */
    min-height: 160px;
    margin: 30px;


}


.timeline-box:nth-child(2n){
    left: 53%;
}




.devider{
    position: absolute;
    width : 0;
    height: 75%;
    left: 50%;
    top :9%;
    border: dashed rgb(127, 194, 245) 2px;
}

.devider i{
    margin-top: -20px;
    margin-left: 0;
    position: sticky;
    font-size: 2rem;
    display: block;
    color : var(--blue-element-color);
    opacity: 1;
    transform: rotate(90deg);
    top: 30%;
    z-index: 2;
}


/*styling the box */
.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.heading-left::before{

    content: '';
    display: inline-block;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png);
    background-size: contain;
    height:2rem;
    width :2rem;
    position: absolute;
    left:0;
    top:0;

}



.heading-right::after{

    content: '';
    display: inline-block;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png);
    background-size: contain;
    height:2rem;
    width :2rem;
    position: absolute;
    right:0;
    top:0;
    z-index: 2;

}

.designation{
    display: block;
    color : var(--blue-element-color);
    font-size: 1.8rem;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.company-name{
    display: block;
    color:#ff5722e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    
}

.work-period{
    display: block;
    color:grey;
    font-size: 0.8rem;
    font-family: sans-serif;
}
.work-description{
    display: block;
    color:grey;
    font-size: 1rem;
    margin-top: 10px;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    display: block;
    position: absolute;
    top:30%;
    left:-15.4%;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--blue-element-color);
    height: 0.5rem;
    width:0.5rem;

}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    display: block;
    position: absolute;
    top:30%;
    left:117.2%;
    z-index: 1;
    border-radius: 50%;
    background-color:   var(--blue-element-color);
    height: 0.5rem;
    width:0.5rem;

}



.enactus-left::before{

    content: '';
    display: inline-block;
    background-image: url(media/enactus-star.png);
    background-size: contain;
    height:3rem;
    width :3rem;
    position: absolute;
    left:0;
    top:0;

}

.ecell-right::after{
    content: '';
    color:black;
 
    display: inline-block;
    background-image: url(/media/Ecell-LOGO-01.png);
    background-size: contain;
    height:2rem;
    width :2rem;
    position: absolute;
    right:0;
    top:0;
}

.cmoto-left::before{

    content: '';
    display: inline-block;
    background-image: url(media/cmoto.jfif);
    background-size: contain;
    height:4rem;
    width :4rem;
    position: absolute;
    left:0;
    top:-10%;

}

.freelance-right::after{

    content: '';
    display: inline-block;
    color: black;
    background-image: repeating-linear-gradient(to top left,#2857a4,rgb(127, 194, 245));
    background-image: url(media/web-1873373_1280.png);
    background-size: contain;
 
    height:2rem;
    width :2rem;
    position: absolute;
    color: inherit;
    right:0;
    top:0;
    z-index: 2;

}

@media screen and (max-width:765px){

    .timeline {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 80%;
        align-items: center;
        /* border : solid 2px black; */
       
    }
    
    .timeline-box{
        position: relative;
        width:90%;
        /* border: black 2px solid; */
        min-height: 160px;
        min-width: 200px;
        margin: 30px;
    
    
    }
    
    .timeline-box:nth-child(2n){
        left: 0;
    }
    
    
    .devider{
        position: absolute;
        width : 0;
        height: 75%;
        left: -1%;
        top :10%;
        border:1px dashed  rgb(127, 194, 245)   ;
    }
    
    .devider i{
       
        position: sticky;
        left:-2%;
        font-size: 1.5em;
        display: block;
        color : var(--blue-element-color);
        opacity: 1;
       
    }
    
    
    /*styling the box */
    .align-left{
        text-align: left;
    }
    
    .align-right{
        text-align: left;
    }
    
     
    
    .timeline-box:nth-child(2n)::after{

        position: absolute;
       width: 10px;
       height: 10px;
       left:-8.5%;    }
    
    .timeline-box:nth-child(2n+1)::after{
       
        width: 10px;
        height: 10px;
        left:-8.5%;  
    
    }
    
    
    
    .enactus-left::before{

        left:85%;
        right:0;
        top:0;
    
    }
   
    .cmoto-left::before{
        
    
        left:85%;
        right:0%;
        top:-10%;
    
    }
    


}

/** Edcutation **/

.degree{
    display: block;
    color :  var(--blue-element-color);
    font-size: 1.8rem;
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.college-name{
    display: block;
    color:#ff5722e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    
}

.study-period{
    display: block;
    color:grey;
    font-size: 0.8rem;
    font-family: sans-serif;
}
.study-description{
    display: block;
    color:grey;
    font-size: 1rem;
    margin-top: 10px;
}

.ramjas-right::after{

    content: '';
    display: inline-block;
    background-image: url(https://ramjasschoolrkpuram.com/img/logo.png);
    background-size: contain;
    height:4rem;
    width :4rem;
    position: absolute;
    right:0;
    top:0;
    z-index: 2;

}

.nsut-left::before{


    content: '';
    display: inline-block;
    border-radius: 50%;
    background-image: url(media/nsut_logo.png);
    background-size: contain;
    height:3.5rem;
    width :3.5rem;
    position: absolute;
    left:0;
    top:0;
    z-index: 2;

}

.ramjas-left::before{
    content: '';
    display: inline-block;
    
    background-image: url(https://ramjasschoolrkpuram.com/img/logo.png);
    background-size: contain;
    height:4rem;
    width :4rem;
    position: absolute;
    left:0;
    top:0;
    z-index: 2;
}

.devider-education{
    position: absolute;
    width : 0;
    height: 70%;
    left: 50%;
    top :9%;
    border: dashed rgb(127, 194, 245) 2px;
}

.devider-education i{
    margin-top: -20px;
    margin-left: 0;
    position: sticky;
    font-size: 2rem;
    display: block;
    color :  var(--blue-element-color);
    opacity: 1;
    transform: rotate(90deg);
    top: 30%;
    z-index: 2;
}

@media screen and (max-width:765px){

    .ramjas-right::after{

        content: '';
        display: inline-block;
        background-image: url(https://ramjasschoolrkpuram.com/img/logo.png);
        background-size: contain;
        height:4rem;
        width :4rem;
        position: absolute;
        right:0;
        left:90%;
        top:0;
        z-index: 2;
    
    }
    
    .nsut-left::before{
    
       
        position: absolute;
        left:90% !important;
        right:0%;
        top:0%;
        z-index: 2;
    
    }
    
    .ramjas-left::before{
        height: 4rem;
        width: 4rem;
        left:90%;
        right:0%;
        top:0%;
    }

    .devider-education{
        position: absolute;
        width : 0;
        height: 85%;
        left: -1%;
        top :4%;
        border:1px dashed  rgb(127, 194, 245)   ;
    }

  

}